@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
body,
html {
    margin: 0;
    padding: 0;
    font-family: Georgia, serif;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
}

h1,
h2,
h3,
.menu a {
    font-family: "Space Mono", monospace;
}
h1,
h2,
h1,
h2,
h3 {
    display: inline-block;
    position: relative;
    margin-bottom: 0.5em;
}

h1::first-letter,
h2::first-letter,
h3::first-letter {
    border-bottom: 2px solid #000000;
    padding-bottom: 0em;
}

.container {
    display: flex;
    height: 90vh;
    width: 100%;
    max-width: 900px;
    position: relative;
    margin: 0 auto;
}

.sidebar {
    width: 200px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 0%;
    background-image: url("images/profile.png");
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
}

.social-links {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-bottom: 20px;
    width: 100%;
}

.social-links a,
.menu a {
    color: #333;
    text-decoration: none;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: right;
}

.menu li {
    margin-bottom: 10px;
    display: block;
}

.menu a {
    font-size: 18px;
    z-index: -1;
}

.menu a {
    display: inline-block;
    font-size: 18px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 2px 10px 2px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    color: #333;
    text-decoration: none;
    font-family: "Space Mono", monospace;
    z-index: 2;
}

.menu a::after {
    content: "";
    background-color: #ffe54c;
    background-image: url("images/noise.png");
    background-blend-mode: soft-light;
    background-size: 150px 150px; /* Adjust size for larger pixels */
    width: 100%;
    z-index: -2;
    position: absolute;
    height: 100%;
    top: 6px;
    left: 6px;
    transition: 0.1s;
}

.menu a:hover::after {
    top: 0px;
    left: 0px;
}

.menu li {
    margin-bottom: 10px;
}

.content-wrapper {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.content {
    width: 100%;
    max-width: 600px;
    padding: 20px 0 20px 20px;
    overflow-y: auto;
    max-height: 100%;
}

.divider-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
    height: 100%;
}

.divider {
    width: 1px;
    background-color: #999;
    height: 33%;
}

@media (max-width: 1200px) {
    .container {
        max-width: 95%;
    }
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        height: auto;
        padding: 20px;
    }

    .sidebar {
        width: 100%;
        align-items: center;
        padding-bottom: 20px;
    }

    .menu,
    .menu li {
        text-align: center;
    }

    .content {
        padding-top: 20px;
    }

    .divider-container {
        display: none;
    }
}
#education-experience {
    margin-top: 0em;
}

.entry {
    display: flex;
    margin-bottom: 0em;
    padding-bottom: 1em;
}

.entry-content h3 {
    display: inline;
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0.3em;
    line-height: inherit; /* This will use the parent's line height */
}
.entry-content h3::first-letter {
    border-bottom: none;
}

.entry-logo {
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin-right: 1em;
    filter: grayscale(100%);
    border-radius: 50%;
}

.entry-content {
    flex: 1;
}

.entry-content p {
    margin: 0.2em 0;
    font-size: 0.9em;
}

.entry-content a {
    color: #333;
    text-decoration: underline;
}

.entry-content a:hover {
    color: #666;
}

.entry-content em {
    font-style: italic;
    color: #666;
}

.highlight {
    position: relative;
    display: inline-block;
    z-index: 1;
}

.highlight::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1em;
    background-color: #ffe54c;
    background-image: url("images/noise.png");
    background-blend-mode: soft-light;
    background-size: 150px 150px;
    z-index: -1;
}
